{
  "openapi": "3.0.0",
  "info": {
    "title": "TikTok Shop API",
    "version": "1.0.0",
    "description": "SDK for TikTok Shop APIs"
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop API Server"
    }
  ],
  "paths": {
    "/affiliate_creator/202405/open_collaborations/products/search": {
      "post": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be greater than 0 and less than or equal to 20.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "The returned results are sorted by the specified field.   Possible values: - commission_rate - product_sales_price - commission - units_sold  Specify the sort order using the &#x60;sort_order&#x60; parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "The sort order for the objects in the response. Default: ASC Possible values: - ASC: Ascending order - DESC: Descending order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_creator/202405/profiles": {
      "get": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "GetCreatorProfile",
        "description": "This API gets the creator profile information.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_creator/202405/showcases/products": {
      "get": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "GetShowcaseProducts",
        "description": "This API lists the products in the creator\\'s showcase, paginated by specified page size and iterated through pages by page token for up to 2000 products in the showcase. This API is generally used when a creator would like to view the products in the showcase.  The platform will return the product details in the showcase, as well as the products in the livebag if the creator is live streaming.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page. Valid range: [1-20].",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Set to &#x60;LIVE&#x60; to indicate the request originates from a Live room. Set to &#x60;SHOWCASE&#x60; to indicate that the request originates from the Showcase.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the next_page_token from a previous response. It is not needed for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_creator/202409/sample_applications/fulfillments/search": {
      "post": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "The sort order for the field specified in the sort_field parameter.  Default: ASC Possible values: ASC: Ascending order DESC: Descending order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "Some sorting fields are as follows: - expired_time: sort by left time to fulfill. - create_time: sort by fulfillment content create time. Default value  is expired_time.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_creator/202412/sample_applications/search": {
      "post": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "SearchCreatorSampleApplications",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be greater than 0 and less than or equal to 50. Default 20",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_creator/202501/affiliate_sharing_links/generate_batch": {
      "post": {
        "tags": [
          "AffiliateCreator"
        ],
        "summary": "GenerateAffiliateSharingLink",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}": {
      "get": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_asset_cipher",
            "in": "query",
            "required": true,
            "description": "The partner identifier used in API requests. Retrieve this value by using the [Get Authorized Category Assets API] (https://partner.tiktokshop.com/docv2/page/666012dd609d4402cc3be995).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products": {
      "get": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "GetAffiliatePartnerCampaignProductList",
        "description": "This API offers the ability to list products submitted by sellers in an Affiliate Partner campaign.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_asset_cipher",
            "in": "query",
            "required": true,
            "description": "The partner identifier used in API requests. Retrieve this value by using the [Get Authorized Category Assets API] (https://partner.tiktokshop.com/docv2/page/666012dd609d4402cc3be995).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review_status",
            "in": "query",
            "required": true,
            "description": "The product review status. This an enumerated type with values: - PENDING - APPROVED - REJECTED - PENDING_CLOSED - CLOSED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_name",
            "in": "query",
            "required": true,
            "description": "Filter the product list by product name. If value of &#x60;product_name&#x60; is contained in &#x60;product.name&#x60;, the product will be included in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "description": "Filter the product list by product ID. If value of &#x60;product_id&#x60; matches &#x60;product.id&#x60;, the product will be included in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_name",
            "in": "query",
            "required": true,
            "description": "Filter the product list by shop name. If value of &#x60;shop_name&#x60; is contained in &#x60;product.shop_name&#x60;, the product will be included in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": true,
            "description": "Filter the product list by category ID. If value of &#x60;category_id&#x60; matches &#x60;product.category.id&#x60;, or the product falls into the leaf category of the specified category, the product will be included in the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products/{product_id}/review": {
      "post": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "ReviewAffiliatePartnerCampaignProduct",
        "description": "This API offers the ability for the TikTok Affiliate Partner to review the products submitted by the sellers. This API offers the ability for the TikTok Affiliate Partner to review the products submitted by the sellers.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "description": "The campaign identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "description": "The product identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_asset_cipher",
            "in": "query",
            "required": true,
            "description": "The partner identifier used in API requests. Retrieve this value by using the [Get Authorized Category Assets API] (https://partner.tiktokshop.com/docv2/page/666012dd609d4402cc3be995).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202405/campaigns": {
      "get": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "GetAffiliatePartnerCampaignList",
        "description": "This API offers the ability to list campaigns created by the Affiliate Partner.",
        "parameters": [
          {
            "name": "category_asset_cipher",
            "in": "query",
            "required": true,
            "description": "The partner identifier used in API requests. Retrieve this value by using the [Get Authorized Category Assets API] (https://partner.tiktokshop.com/docv2/page/666012dd609d4402cc3be995).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page. Default: 10. Valid range: [1-100].",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page. Maximum page size is &#x60;100&#x60; items.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "The campaign status. The status is an enumerated type with values: - READY - UPCOMING - ONGOING - CLOSED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "The campaign type. This is an enumerated type with values:  - MY_CAMPAIGNS - GS_SELLING_CAMPAIGNS  - SELLER_CAMPAIGNS - EXCLUSIVE_TIKTOK_SHOP   Default value is MY_CAMPAIGNS.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query_type_filter",
            "in": "query",
            "required": true,
            "description": "An extended filter to be used when the campaign type property type is set to SELLER_CAMPAIGNS or EXCLUSIVE_TIKTOK_SHOP.  If the type property is set to SELLER_CAMPAIGNS, the valid values for this property are:  - MARKETPLACE: the response includes campaigns that the partner did not join. - JOINED :  the response includes campaigns the partner has joined only. If the type property is set to EXCLUSIVE_TIKTOK_SHOP, the valid values for this property are: - AVAILABLE: the response includes campaigns the partner is permitted to join. - JOINED: the response includes campaigns the partner has joined only. Other types can either not pass a value or pass in Default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202501/campaigns/{campaign_id}/products/performance": {
      "get": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "GetAffiliateCampaignCreatorFulfillmentStatusList",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "description": "the unique id of a campaign",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page. Valid range: 1-50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_partner/202501/campaigns/{campaign_id}/products/{product_id}/creator/{creator_temp_id}/content/statistics/sample/status": {
      "get": {
        "tags": [
          "AffiliatePartner"
        ],
        "summary": "GetAffiliateCampaignCreatorProductSampleStatus",
        "description": "Get progress on creator\\'s sample status",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "description": "The campaign identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "description": "The product identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator_temp_id",
            "in": "query",
            "required": true,
            "description": "A time-limited identifier associated with the creator that is valid for one hour. This identifier is valid to retrieve content performance data associated with the creator.&#x60;promotion_creators.creator.creator_temp_id&#x60; in the response of Get Affiliate Campaign Creator Fulfillment Status Info gateway.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202405/open_collaboration_settings": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "EditOpenCollaborationSettings",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param EditOpenCollaborationSettingsRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202405/open_collaborations": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "CreateOpenCollaboration",
        "description": "This API allows the seller to create an open collaboration. You create an open collaboration by selecting products and setting a commission rate.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param CreateOpenCollaborationRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202405/orders/search": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SearchSellerAffiliateOrders",
        "description": "This API allows the partner to retrieve a list of affiliate orders (orders which are affiliate-commission eligible) generated by a seller, returning the order ID and the product ID. Using this, the partner can track their affiliate-conversions on behalf of a seller, using the order ID. For now, this API returns all historical Affiliate Orders. We do not provide any filtering mechanisms (based on timestamp) at this time. We will provide this functionality in a future iteration. Thus this API is technically a \\\"Get Affiliate Orders List\\\" at this stage, but it will be improved in the future to be a search based API (with robust filtering).",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The size of one page, which must be greater than 0 and less than or equal to 50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "The interface version you want to access",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202406/marketplace_creators/{creator_user_id}": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetMarketplaceCreatorPerformance",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "creator_user_id",
            "in": "query",
            "required": true,
            "description": "Creators\\&#39; TikTok User ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202409/open_collaboration_settings": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetOpenCollaborationSettings",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202409/open_collaborations/search": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SearchOpenCollaboration",
        "description": "Retrieve all open collaboration information from merchants, including commission rate, add to showcase and post content creator count.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be greater than 0 and less than or equal to 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "Default value of \\&quot;sort_order\\&quot; is DESC. Enum: - ASC：means to sort data in ascending order - DESC：means to sort data in descending order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "Some sorting fields are as follows: - product_original_price: sort by products\\&#39; original price. By default, the open collaborations are sorted in descending order by creation time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param SearchOpenCollaborationRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202409/sample_applications/{application_id}/review": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SellerReviewSampleApplications",
        "description": "This API allows the seller to approve or reject the creator\\'s sample application in an open collaboration. When rejecting an application, the seller must provide a specific reason. This API facilitates the management of sample applications by giving sellers the ability to review and update applications according to their criteria and requirements.",
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "required": true,
            "description": "* @param xTtsAccessToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "required": true,
            "description": "Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param SellerReviewSampleApplicationsRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202409/target_collaborations/search": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SearchTargetCollaborations",
        "description": "This API is used by Seller to search for all existing target collaborations. Sellers can search based on filters such as Invitation name, Invitation ID, Product name, Product ID and Creator name.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be 20, 50 or 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param SearchTargetCollaborationsRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202409/target_collaborations/{target_collaboration_id}": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "QueryTargetCollaborationDetail",
        "description": "This API is used by Sellers to get target collaboration information.",
        "parameters": [
          {
            "name": "target_collaboration_id",
            "in": "query",
            "required": true,
            "description": "Target collaboration id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202410/open_collaborations/sample_rules": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetOpenCollaborationSampleRules",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "product_ids",
            "in": "query",
            "required": true,
            "description": "The product IDs to which the sample rules apply.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Array<string>"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202412/conversation/{conversation_id}/messages": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetMessageintheConversation",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "required": true,
            "description": "The conversation identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The maximum number of queries. The maximum number is 20.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to query. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202412/conversations": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetConversationList",
        "description": "Get User\\'s Conversation list.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The maximum number of queries. The maximum number is 50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to query. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_need_conversation_id",
            "in": "query",
            "required": true,
            "description": "- If &#x60;true&#x60;, only &#x60;conversation_id&#x60; in &#x60;conversation&#x60; is returned.  - If &#x60;false&#x60;, all fields in conversation&#x60; are returned. &#x60;true&#x60; by default.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "conversation_status",
            "in": "query",
            "required": true,
            "description": "Filter the list of IM conversations returned based on the status. Possible values:  - ALL: Retrieve all conversations regardless of the status. - UNREAD: Retrieve all conversations with messages that the seller has not read yet. The messages stay unread until explicitly marked as read by calling [Mark Conversation Read](6791db761882810314a991a8). Replying to a message does not change the read / unread status. - UNREPLIED: Retrieve all conversations in which the seller is not the last message sender. This filter helps you to efficiently manage and prioritize conversations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param GetConversationListRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "CreateConversationwithcreator",
        "description": "Get the existing conversation or create a new conversation with the specified TikTok creator for later communication.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param CreateConversationwithcreatorRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202412/open_collaborations/creator_content_details": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetOpenCollaborationCreatorContentDetail",
        "description": "This API allows the seller to get the creator content details of specified open collaboration.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be greater than 0 and less than or equal to 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "description": "The product ID that needs to be queried.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202412/open_collaborations/search": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SearchOpenCollaboration",
        "description": "Retrieve all open collaboration information from merchants, including commission rate, add to showcase and post content creator count.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of \\&quot;page_size\\&quot; must be greater than 0 and less than or equal to 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to search for. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "Default value of \\&quot;sort_order\\&quot; is DESC. Enum: - ASC：means to sort data in ascending order - DESC：means to sort data in descending order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "Some sorting fields are as follows: - product_original_price: sort by products\\&#39; original price. By default, the open collaborations are sorted in descending order by creation time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param SearchOpenCollaborationRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202505/conversations": {
      "get": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "GetConversationList",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The maximum number of queries. The maximum number is 50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "Pagination offset determines where you begin to query. It\\&#39;s empty when you raise your first request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_need_conversation_id",
            "in": "query",
            "required": true,
            "description": "- If &#x60;true&#x60;, only &#x60;conversation_id&#x60; in &#x60;conversation&#x60; is returned.  - If &#x60;false&#x60;, all fields in conversation&#x60; are returned. &#x60;true&#x60; by default.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param GetConversationListRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/affiliate_seller/202507/sample_applications/{application_id}/review": {
      "post": {
        "tags": [
          "AffiliateSeller"
        ],
        "summary": "SellerReviewSampleApplications",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "required": true,
            "description": "The unique id of sample request application ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param SellerReviewSampleApplicationsRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate/202309/live_rooms": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "GetLiveRoomInfo",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate/202309/shop_products": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "GetShopProducts",
        "description": "Developer can utilize this API to search and retrieve products information of shop which is bound by a specific creator with specific keywords.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "Pagination count determines how many products you\\&#39;ll get after sending the request. 20 is a recommended number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "The pagination offset that determines where you begin your search. If you are making your first request, this will be empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title_keyword",
            "in": "query",
            "required": true,
            "description": "The title keyword of the product you wish to search by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "Sort fields include PRODUCT_ID, PRICE and SALE. If sort_field is empty or invalid, PRODUCT_ID will be set as default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "Sort orders include 0:DESC and 1:ASC. If sort order is empty or invalid, DESC will be set as default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/affiliate/202309/showcases/products": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "GetShowcaseProductsold",
        "description": "This API lists the products in the creator\\'s showcase, paginated by specified page size and iterated through pages by page token for up to 2000 products in the showcase. This API is generally used when a creator would like to view the products in the showcase.  The platform will return the product details in the showcase, as well as the products in the livebag if the creator is live streaming.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The maximum number of products returned in the response. Default to be 50 if not set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "The page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Where the request is sent from. LIVE: sent from live room. The response will return the product IDs in the LIVE as well. The \\&quot;add_status\\&quot; field will be whether the product is in the live bag, or whether the product is in the prelive product preparation list if the creator is not live streaming. SHOWCASE: sent from showcase. The \\&quot;add_status\\&quot; field will be whether the product is in the showcase.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/event/202309/webhooks": {
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "DeleteShopWebhook",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param DeleteShopWebhookRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/finance/202309/orders/{order_id}/statement_transactions": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "GetTransactionsbyOrder",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "The order ID in TikTok Shop.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/finance/202309/statements": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "GetStatements",
        "description": "Retrieves the statements generated for a shop and the key statement information based on a specified date range or their payment status. Use this API to get an overview of your daily statements over a range of time, or to find out which statements have been paid or not. For the detailed transactions, refer to [Get Statement Transactions](650a6749defece02be67da87) or [Get Order Statement Transactions](650a6734defece02be67d724). Applicable for all regions\\' sellers. Only data after 2023-07-01 is available.",
        "parameters": [
          {
            "name": "sort_field",
            "in": "query",
            "required": true,
            "description": "The returned results will be sorted by the specified field. Only supports &#x60;statement_time&#x60;.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statement_time_lt",
            "in": "query",
            "required": true,
            "description": "Filter statements to show only those that are generated before the specified date and time. Unix timestamp. Refer to notes in &#x60;statement_time_ge&#x60; for more usage information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "required": true,
            "description": "Filter statements based on the payment status. Possible values: - PAID: Payment has been transferred to the seller. - FAILED: Payment transfer failed. - PROCESSING: Payment is currently being processed. Default: All statuses are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page.  Default: 20 Valid range: [1-100]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": true,
            "description": "The sort order for the &#x60;sort_field&#x60; parameter.  Default: ASC  Possible values: - ASC: Ascending order - DESC: Descending order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statement_time_ge",
            "in": "query",
            "required": true,
            "description": "Filter statements to show only those that are generated on or after the specified date and time. Unix timestamp.  **Note:** &#x60;statement_time_ge&#x60; and &#x60;statement_time_le&#x60; together constitute the creation time filter condition. - If &#x60;statement_time_ge&#x60; is filled but &#x60;statement_time_lt&#x60; is empty, &#x60;statement_time_lt&#x60; will default to the current time. - If &#x60;statement_time_lt&#x60; is filled but &#x60;statement_time_ge&#x60; is empty, &#x60;statement_time_ge&#x60; will default to the earliest shop time.  **Example:** As statements are generated daily at 00:00 UTC, to retrieve statements for the period from Oct 5 to Oct 10, configure the parameters as follows: - Set &#x60;statement_time_ge&#x60; to 00:00 on Oct 6  or any time on Oct 5 (excluding 00:00). - Set &#x60;statement_time_lt&#x60; to any time on Oct 11 (excluding 00:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/number"
              }
            }
          }
        }
      }
    },
    "/finance/202501/orders/{order_id}/statement_transactions": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "GetTransactionsbyOrder",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "The order ID in TikTok Shop.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/combinable_packages/search": {
      "get": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "SearchCombinablePackages",
        "description": "tiktok shop openapi",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The number of results to be returned per page. Valid range: [1-50].",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "header",
            "required": true,
            "description": "An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/images/upload": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "FulfillmentUploadDeliveryImage",
        "description": "This API is used for the seller to upload the proof of delivery image for a package, and to generate the URL of the corresponding file. The generated URL is used in the [Update Package Delivery Status API](https://partner.tiktokshop.com/docv2/page/650aa332c16ffe02b8f0ba82?external_id=650aa332c16ffe02b8f0ba82) to indicate that the parcel has been delivered.   Usage requirements: - The image format must be `JPEG`, `PNG`, or `JPG`.  - The image size can not exceed 5MB.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: multipart/form-data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param data Image file data to be uploaded to TikTok Shop. The picture file is a string generated by base64 encoding. Prerequisites： - Image format must be &#x60;JPG&#x60;, &#x60;JPEG&#x60;, or &#x60;PNG&#x60;. - Image resolution must be between 100 x 100px and 20000 x 20000px. - Image size must not exceed 5MB.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/orders/{order_id}/packages": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "MarkPackageAsShipped",
        "description": "",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "The unique identifier for a TikTok Shop order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param MarkPackageAsShippedRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/orders/{order_id}/shipping_services/query": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "GetEligibleShippingService",
        "description": "Use this API ( for US ) to query the list of available shipping services when specifying packages\\' size or weight. The shipping fee and delivery time is an estimate only and is based on the package dimensions and weight you provided. Options listed may differ if you change the package attributes at the time of shipping.",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "TikTok Shop order ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param GetEligibleShippingServiceRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/orders/{order_id}/tracking": {
      "get": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "GetTracking",
        "description": "This API can use the order number to obtain the corresponding logistics tracking information.",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "TikTok Shop order ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages/combine": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "CombinePackage",
        "description": "Use this API to combine packages into one fulfillment package.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param CombinePackageRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages/{package_id}": {
      "get": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "GetPackageDetail",
        "description": "Returns information about a package, including handover time slot, tracking number, and shipping provider information.",
        "parameters": [
          {
            "name": "package_id",
            "in": "query",
            "required": true,
            "description": "TikTok Shop package ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages/{package_id}/ship": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "ShipPackage",
        "description": "Use this API to ship a package. There are two kinds of shipping options available: `TikTok Shipping` or `Seller Shipping`.  - `TikTok Shipping`: Schedule a package handover time for TikTok Shipping carriers to pickup a package from seller. - `Seller Shipping`: Seller arranges their own shipping, and uploads a tracking number and `shipping_provider_id`. Package ID can be obtained from [Get Order Detail](https://partner.tiktokshop.com/docv2/page/650aa8ccc16ffe02b8f167a0?external_id=650aa8ccc16ffe02b8f167a0#Back%20To%20Top).",
        "parameters": [
          {
            "name": "package_id",
            "in": "query",
            "required": true,
            "description": "TikTok Shop package ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param ShipPackageRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages/{package_id}/shipping_info/update": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "UpdatePackageShippingInfo",
        "description": "If the seller entered an incorrect tracking number, this API allows the seller to update the tracking number and shipping provider for a package that has already been shipped. Attention: This API is only applicable to orders (or packages) shipped by the seller.  It is only used to update the tracking number and shipping provider for packages that have already been shipped.",
        "parameters": [
          {
            "name": "package_id",
            "in": "query",
            "required": true,
            "description": "TikTok Shop package ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param UpdatePackageShippingInfoRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "CreatePackages",
        "description": "Use this API to ship orders (purchase labels). This API is region specific to the US. The shipping fee and delivery time is an estimate only and is based on the package dimensions and weight you provided. Based on the package attributes, options listed below may differ from your shipping subscriptions.",
        "parameters": [
          {
            "name": "x_tts_access_token",
            "in": "header",
            "required": true,
            "description": "* @param contentType Allowed type: application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": true,
            "description": "* @param CreatePackagesRequestBody",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/string"
              }
            }
          }
        }
      }
    },
    "/fulfillment/202309/packages/search": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "SearchPackage",
        "description": "Retrieve package IDs based on specified conditions. Package creation time and information update time are the common querying conditions.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
[...]
